*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: initial;
}

button {
    font: inherit;
    border: initial;
    outline: initial;
    background-color: initial;
}

input {
    border: initial;
    outline: initial;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

