.qualifications {
    display: flex;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 30px;

    @media screen and (max-width: 992px) {
        flex-direction: column;
        row-gap: 20px;
    }

    @media screen and (max-width: 576px) {
        flex-direction: column;
        row-gap: 20px;
    }

    &__sub-text {
        font-size: 13px;
        width: 157px;
        margin-top: 3px;

        @media screen and (max-width: 576px) {
            width: fit-content;
        }
    }

    &__left {
        margin-right: 35px;
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        font-size: 13px;
        background-color: #e6ebee;
        border-radius: 2px;
        padding: 6px 10px;
        color: #494d4f;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
    }
}