.search-results {
    width: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: default;

    @media screen and (max-width: 992px) {
        width: 100%;
    }

    @media screen and (max-width: 992px) {
        min-height: 300px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #e8edf0;

        .count {
            font-size: 12px;
        }
    }
}